<?xml version="1.0"?>
<!--
/**
 * Copyright © JC-Electronics. All rights reserved.
 * https://www.jc-electronics.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd"
>
    <preference for="JcElectronics\ExactOrders\Api\OrderRepositoryInterface" type="JcElectronics\ExactOrders\Model\OrderRepository" />
    <preference for="JcElectronics\ExactOrders\Api\InvoiceRepositoryInterface" type="JcElectronics\ExactOrders\Model\InvoiceRepository" />
    <preference for="JcElectronics\ExactOrders\Api\ShipmentRepositoryInterface" type="JcElectronics\ExactOrders\Model\ShipmentRepository" />

    <preference for="JcElectronics\ExactOrders\Api\Data\ExternalOrderInterface" type="JcElectronics\ExactOrders\Model\ExternalOrder" />
    <preference for="JcElectronics\ExactOrders\Api\Data\ExternalInvoiceInterface" type="JcElectronics\ExactOrders\Model\ExternalInvoice" />
    <preference for="JcElectronics\ExactOrders\Api\Data\ExternalShipmentInterface" type="JcElectronics\ExactOrders\Model\ExternalShipment" />

    <preference for="JcElectronics\ExactOrders\Api\Data\ExternalInvoice\ItemInterface" type="JcElectronics\ExactOrders\Model\ExternalInvoice\Item" />
    <preference for="JcElectronics\ExactOrders\Api\Data\ExternalOrder\AddressInterface" type="JcElectronics\ExactOrders\Model\ExternalOrder\Address" />
    <preference for="JcElectronics\ExactOrders\Api\Data\ExternalOrder\ItemInterface" type="JcElectronics\ExactOrders\Model\ExternalOrder\Item" />
    <preference for="JcElectronics\ExactOrders\Api\Data\AdditionalDataInterface" type="JcElectronics\ExactOrders\Model\AdditionalData" />
    <preference for="JcElectronics\ExactOrders\Api\Data\ExternalAttachmentInterface" type="JcElectronics\ExactOrders\Model\ExternalAttachment" />

    <preference for="JcElectronics\ExactOrders\Api\AttachmentRepositoryInterface" type="JcElectronics\ExactOrders\Model\AttachmentRepository" />
    <preference for="JcElectronics\ExactOrders\Api\Data\AttachmentInterface" type="JcElectronics\ExactOrders\Model\Attachment" />

    <!-- Extended Sales Data -->
    <preference for="JcElectronics\ExactOrders\Api\ExtendedOrderRepositoryInterface" type="JcElectronics\ExactOrders\Model\ExtendedOrderRepository" />
    <preference for="JcElectronics\ExactOrders\Api\ExtendedOrderItemRepositoryInterface" type="JcElectronics\ExactOrders\Model\ExtendedOrderItemRepository" />
    <preference for="JcElectronics\ExactOrders\Api\ExtendedInvoiceRepositoryInterface" type="JcElectronics\ExactOrders\Model\ExtendedInvoiceRepository" />

    <preference for="JcElectronics\ExactOrders\Api\Data\ExtendedOrderInterface" type="JcElectronics\ExactOrders\Model\ExtendedOrder" />
    <preference for="JcElectronics\ExactOrders\Api\Data\ExtendedOrderItemInterface" type="JcElectronics\ExactOrders\Model\ExtendedOrderItem" />
    <preference for="JcElectronics\ExactOrders\Api\Data\ExtendedInvoiceInterface" type="JcElectronics\ExactOrders\Model\ExtendedInvoice" />

    <!-- Commands -->
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="migrateInvoices" xsi:type="object">JcElectronics\ExactOrders\Console\Command\MigrateSubstituteInvoices</item>
                <item name="migrateOrders" xsi:type="object">JcElectronics\ExactOrders\Console\Command\MigrateSubstituteOrders</item>
                <item name="migrateShipments" xsi:type="object">JcElectronics\ExactOrders\Console\Command\MigrateSubstituteShipments</item>
                <item name="migrateAttachments" xsi:type="object">JcElectronics\ExactOrders\Console\Command\MigrateAttachments</item>
            </argument>
        </arguments>
    </type>

    <!-- Store attachments on sales entities -->
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="addAttachmentsToOrder" type="JcElectronics\ExactOrders\Plugin\Sales\Order\AddOrderAttachments"/>
        <plugin name="updateAdditionalOrderData" type="JcElectronics\ExactOrders\Plugin\Sales\Order\UpdateAdditionalOrderData"/>
    </type>

    <type name="Magento\Sales\Api\OrderItemRepositoryInterface">
        <plugin name="updateAdditionalOrderItemData" type="JcElectronics\ExactOrders\Plugin\Sales\Order\Item\UpdateAdditionalOrderItemData"/>
    </type>

    <type name="Magento\Sales\Api\InvoiceRepositoryInterface">
        <plugin name="addAttachmentsToInvoice" type="JcElectronics\ExactOrders\Plugin\Sales\Invoice\AddInvoiceAttachments"/>
        <plugin name="updateAdditionalInvoiceData" type="JcElectronics\ExactOrders\Plugin\Sales\Invoice\UpdateAdditionalInvoiceData"/>
    </type>

    <type name="Magento\Sales\Api\ShipmentRepositoryInterface">
        <plugin name="addAttachmentsToShipment" type="JcElectronics\ExactOrders\Plugin\Sales\Shipment\AddShipmentAttachments"/>
    </type>
</config>
