<?xml version="1.0"?>
<!--
/**
 * Copyright © JC-Electronics. All rights reserved.
 * https://www.jc-electronics.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd"
>
    <preference for="JcElectronics\ExactOrders\Api\OrderRepositoryInterface" type="JcElectronics\ExactOrders\Model\OrderRepository" />
    <preference for="JcElectronics\ExactOrders\Api\InvoiceRepositoryInterface" type="JcElectronics\ExactOrders\Model\InvoiceRepository" />
    <preference for="JcElectronics\ExactOrders\Api\ShipmentRepositoryInterface" type="JcElectronics\ExactOrders\Model\ShipmentRepository" />

    <preference for="JcElectronics\ExactOrders\Api\Data\ExternalOrderInterface" type="JcElectronics\ExactOrders\Model\ExternalOrder" />
    <preference for="JcElectronics\ExactOrders\Api\Data\ExternalInvoiceInterface" type="JcElectronics\ExactOrders\Model\ExternalInvoice" />
    <preference for="JcElectronics\ExactOrders\Api\Data\ExternalShipmentInterface" type="JcElectronics\ExactOrders\Model\ExternalShipment" />

    <preference for="JcElectronics\ExactOrders\Api\Data\ExternalInvoice\ItemInterface" type="JcElectronics\ExactOrders\Model\ExternalInvoice\Item" />
    <preference for="JcElectronics\ExactOrders\Api\Data\ExternalOrder\AddressInterface" type="JcElectronics\ExactOrders\Model\ExternalOrder\Address" />
    <preference for="JcElectronics\ExactOrders\Api\Data\ExternalOrder\ItemInterface" type="JcElectronics\ExactOrders\Model\ExternalOrder\Item" />
    <preference for="JcElectronics\ExactOrders\Api\Data\AdditionalDataInterface" type="JcElectronics\ExactOrders\Model\AdditionalData" />
    <preference for="JcElectronics\ExactOrders\Api\Data\ExternalAttachmentInterface" type="JcElectronics\ExactOrders\Model\ExternalAttachment" />

    <preference for="JcElectronics\ExactOrders\Api\AttachmentRepositoryInterface" type="JcElectronics\ExactOrders\Model\AttachmentRepository" />
    <preference for="JcElectronics\ExactOrders\Api\Data\AttachmentInterface" type="JcElectronics\ExactOrders\Model\Attachment" />

    <type name="Magento\Sales\Model\Order">
        <plugin name="loadAttachmentsWithOrder" type="JcElectronics\ExactOrders\Plugin\AddAttachmentsToOrder"/>
    </type>

    <type name="Magento\Sales\Model\Order\Invoice">
        <plugin name="loadAttachmentsWithInvoice" type="JcElectronics\ExactOrders\Plugin\AddAttachmentsToOrder"/>
    </type>

    <!-- Commands -->
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="migrateInvoices" xsi:type="object">JcElectronics\ExactOrders\Console\Command\MigrateSubstituteInvoices</item>
                <item name="migrateOrders" xsi:type="object">JcElectronics\ExactOrders\Console\Command\MigrateSubstituteOrders</item>
                <item name="migrateShipments" xsi:type="object">JcElectronics\ExactOrders\Console\Command\MigrateSubstituteShipments</item>
                <item name="migrateAttachments" xsi:type="object">JcElectronics\ExactOrders\Console\Command\MigrateAttachments</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="JcElectronics\ExactOrders\Plugin\AddAttachmentsToOrder" type="JcElectronics\ExactOrders\Plugin\AddAttachmentsToEntity">
        <arguments>
            <argument name="entityTypeId" xsi:type="const">JcElectronics\ExactOrders\Plugin\AddAttachmentsToEntity::ENTITY_TYPE_ORDER</argument>
        </arguments>
    </virtualType>

    <virtualType name="JcElectronics\ExactOrders\Plugin\AddAttachmentsToInvoice" type="JcElectronics\ExactOrders\Plugin\AddAttachmentsToEntity">
        <arguments>
            <argument name="entityTypeId" xsi:type="const">JcElectronics\ExactOrders\Plugin\AddAttachmentsToEntity::ENTITY_TYPE_INVOICE</argument>
        </arguments>
    </virtualType>

    <virtualType name="JcElectronics\ExactOrders\Plugin\AddAttachmentsToShipment" type="JcElectronics\ExactOrders\Plugin\AddAttachmentsToEntity">
        <arguments>
            <argument name="entityTypeId" xsi:type="const">JcElectronics\ExactOrders\Plugin\AddAttachmentsToEntity::ENTITY_TYPE_SHIPMENT</argument>
        </arguments>
    </virtualType>
</config>
