parameters:
    level: 6
    paths:
        - src
        - tests
    ignoreErrors:
        - '#(class|type) Magento\\TestFramework#i'
        - '#(class|type) Magento\\\S*Factory#i'
        - '#(method) Magento\\Framework\\Api\\ExtensionAttributesInterface#i'
        - '#(method) JcElectronics\\ExactOrders\\Api\\Data\\ExternalInvoiceInterface::getData#i'
        - '#(method) JcElectronics\\ExactOrders\\Api\\Data\\ExternalInvoiceInterface::setData#i'
        - '#(method) JcElectronics\\ExactOrders\\Api\\Data\\ExternalInvoice\\ItemInterface::getData#i'
        - '#(method) JcElectronics\\ExactOrders\\Api\\Data\\ExternalOrderInterface::getData#i'
        - '#(method) JcElectronics\\ExactOrders\\Api\\Data\\ExternalOrderInterface::setData#i'
        - '#(method) JcElectronics\\ExactOrders\\Api\\Data\\ExternalOrder\\ItemInterface::getData#i'
        - '#(method) JcElectronics\\ExactOrders\\Api\\Data\\ExternalShipmentInterface::getData#i'
        - '#(method) JcElectronics\\ExactOrders\\Api\\Data\\ExternalShipmentInterface::setData#i'
        - '#(method) JcElectronics\\ExactOrders\\Api\\Data\\ExternalShipment\\ItemInterface::getData#i'
