<?xml version="1.0"?>
<!--
/**
 * Copyright © JC-Electronics. All rights reserved.
 * https://www.jc-electronics.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route frontName="exactorders" id="exactorders">
            <module name="JcElectronics_ExactOrders"/>
        </route>
    </router>
</config>
